{% extends "core/base.html" %}

{% load staticfiles %}

{% block search %}
    {% include 'core/searchbar.html' %}
{% endblock %}

{% block text %}
    <h1>Welcome to the FDA Drug Monitor</h1>
       <p>Having drug-related
          information and tools at your fingertips is a critical part of your
          overall health and well-being. The data provided by the FDA Drug
          Monitor are the latest and most relevant available data available from the FDA. 
          Use this site along
          with your physician's advice to make informed decisions about the drugs
          you take.</p> <p>This site helps cross connect information between manufacturers, drug labels, adverse events and enforcement information 
          at an unprecedented level. Users can start with any of the data-sets and cross-connect to any of the other data-sets.
          For more information regarding the data sources used on this website, visit
          <a target=_blank href="http://www.fda.gov">www.fda.gov</a>.
          </p>

    <p>Placeholder content has been included for this development prototype. We do however want to showcase the responsive design of the interface.</p>
    <div class="row responsive01">
		<div class="span8">
			<h2><a href="">Nullam gravida</a></h2>
			<p>Vivamus tempus, neque in suscipit elementum, mi velit vestibulum nulla, eget malesuada urna justo at ex. Nullam gravida volutpat nisi, at ullamcorper ante iaculis lacinia.</p>
		</div>
		<div class="span8">
			<h2><a href="">Vestibulum nulla</a></h2>
			<p>Vivamus tempus, neque in suscipit elementum, mi velit vestibulum nulla, eget malesuada urna justo at ex. Nullam gravida volutpat nisi, at ullamcorper ante iaculis lacinia.</p>
		</div>
		<div class="span8">
			<h2><a href="">Eget malesuada urn</a></h2>
			<p>Vivamus tempus, neque in suscipit elementum, mi velit vestibulum nulla, eget malesuada urna justo at ex. Nullam gravida volutpat nisi, at ullamcorper ante iaculis lacinia.</p>
		</div>
		<div class="clear"></div>
	</div>
{% endblock %}
